.dialog-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 0.6rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms;
  cursor: pointer;
  border-radius: 4px;
}
