#application {
  width: 100vw;

  .application--header {
    width: 100%;

    .application-header--log {
      height: 70px;
    }

    .application-header--menu {
      height: 50px;
    }
  }


  #application--content {
    height: calc(100vh - 70px - 50px);
    padding: 40px 100px;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: #F4F4F4;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background: #F4F4F4;
    }

    &::-webkit-scrollbar-thumb {
      background: #dad7d7;
    }

  }

}